%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2 You have been accepted as a match for a job on SalesMatchr!
    %p
      You have been accepted for #{@job.title}. A member of that company will be in contact shortly.  Find out more details at #{link_to 'SalesMatchr', job_url(@job)}!