.action-bar#search-bar
  .container
    .row
      .col-md-9
        .dropdown
          = select_tag "Job Type", options_from_collection_for_select(JobFunction.all, "id", "name", selected: params[:job_function]), { prompt: 'Select Sales Type', class: 'selectpickers', id: 'job-function-select'}
        %input.form-control{:type => "text", :name => "zip", id: "zip", style: "color:black", placeholder: "zip code", value: params[:zip]}
        .dropdown
          = select_tag "Distance (miles)", options_for_select([ 10, 25, 100], params[:distance]), { prompt: 'Distance (miles)', class: 'selectpickers', id: 'distance'}
        %span Remote Only
        = check_box_tag "my-checkbox", "", (params[:is_remote] == "true" ? true : false) , id: 'remote-only-check'
        %input#salaries{'data-slider-handle':"triangle"}
      .col-md-3.text-right
        = link_to "Search", jobs_path, class: "btn btn-default action-btn", id: "find-jobs"
:javascript
  function ready_search(){
    $('#find-jobs').click(function(){
      var str = $('#find-jobs').attr('href');
      str = str + '?job_function=' + $('#job-function-select').val();
      str = str + '&is_remote=' +  $('#remote-only-check').bootstrapSwitch('state');
      str = str + "&zip=" + $('#zip').val();
      if (typeof($('#distance').val()) != "undefined"){
        str = str + "&distance=" + $('#distance').val();
      }
      str = str + "&salary_low=" + salary_slider.slider('getValue')[0];
      str = str + "&salary_high=" + salary_slider.slider('getValue')[1];
      $('#find-jobs').attr('href',  str);
    });
  }

  $(document).ready(ready_search);
  $(document).on('page:load', ready_search);