.container.padded-container
  .row
    .col-md-12
      %h2 FAQ (Employer)
      %hr

      %br

      %h4 Why should I sign up with SalesMatchr?
      %p Organizations benefit the most by using SalesMatchr as a solution for two problems:
      %ul
        %li
          %p Inability to fill sales roles efficiently
        %li
          %p Inability to find salespeople that fit well within their role and even their team
        %li
          %p Save time!  No more having to search through the proverbial “pile of resumes”
      %p SalesMatchr is continuously filling your sales talent pipeline for you. You will no longer have to worry about having an empty queue of candidates when a role opens up. Secondly, SalesMatchr allows you to utilize scientifically-backed psychometric assessments to objectively find your next top performer, no more “going with your gut” as we’ve all done in the past.

      %br

      %h4 What kind of positions can SalesMatchr help me fill?
      %p SalesMatchr is designed specifically for helping you to hire qualified sales talent. From Sales Management to your Inside Sales Rep, our algorithm works over a wide range of sales jobs to find you the right individual for your specific sales job.

      %br

      %h4 How does SalesMatchr differ from job boards such as Indeed or Monster?
      %p SalesMatchr is a matching platform. Unlike Indeed or Monster, we don’t just throw a dozen resumes at you; instead, we provide only appropriate matches that align your specific criteria with the traits and skills of the sales candidates in our talent pool.

      %br

      %h4 Once I sign up, when do I receive matches?
      %p After signing up on our site, you will receive a weekly email blast with your job matches. Or, you can log into our system anytime and see your matches.  Eventually you will have the ability to also be emailed daily.

      %br

      %h4 Sign me up! How do I get started?
      %p
        Fill out a profile
        = link_to "here", new_employer_registration_path
        and you’re on your way!
