- if profile.is_incognito
  %br
  %br
  %p Your profile is currently hidden. Turn off incognito mode to make your profile public.
- else
  %br
  %br
  %p Your profile is currently visible. Turn on incognito mode to hide your profile.
%br
%br