- if @profile.is_incognito
  %br
  %br
  %p Your profile is currently hidden. Turn off incognito to make your profile public.
- else
  %br
  %br
  %p Your profile is currently visible. Turn on incognito to hide your profile.
%br
%br

.col-md-12
  = image_tag @profile.avatar.url(:medium), id: 'avatar', style: "display:" + (!@profile.is_incognito ? 'block' : 'none'), class: 'profile-image'
  %img{src: '/img/incognito.png', style: "display:" + (@profile.is_incognito ? 'block' : 'none'), id: 'incognito-img', class: 'profile-image'}