- if profile.is_incognito
  %br
  %br
  %p Your profile is currently hidden. Turn off incognito to make your profile public.
- else
  %br
  %br
  %p Your profile is currently visible. Turn on incognito to hide your profile.
%br
%br