- if @profile.is_active_match_subscription
  %br
  %br
  %p.subscribe You have currently subscribed to receive job matched alert. Turn off subscription if you don't want to receive job matched alert.
- else
  %br
  %br
  %p.unsubscribe You have currently unsuscribed to receive job matched alert. Turn on to get job matched alert.