- if profile.is_active_match_subscription
  %br
  %br
  %p.subscribe You are currently subscribed to receive job match alerts. If you do not want to receive job match alerts, turn off the subscription.
- else
  %br
  %br
  %p.unsubscribe You are currently unsubscribed to receive job match alerts. To receive job match alerts, turn on subscription.