#section.bg-highlight
  .container
    .row
      .col-md-12
        %h2 My Job
#section.wrapper-sm
  .container
    %table.table.table-responsive
      - @job_candidates.each do |job_candidate|
        %tr
          %td
            %h4
              = job_candidate.job.title
            = job_candidate.job.description
          %td
            %h4
              - if job_candidate.submitted?
                %b.secondary-color
                  Submitted
              - else
                Submitted
              |
              - if job_candidate.viewed?
                %b.secondary-color
                  Viewed
              - else
                Viewed
              |
              - if job_candidate.accepted?
                %b.secondary-color
                  Accepted
              - else
                Accpeted
              |
              - if job_candidate.withdrawn?
                %b.secondary-color
                  Withdrawn
              - else
                Withdrawn
          %td
            = link_to job_path(job_candidate.job) do
              %i.fa.fa-close{title: "withdraw application"}
              Withdraw application
          %td
            = link_to job_path(job_candidate.job) do
              %i.fa.fa-search{title: "view this job"}
              View job post
