$primary-color: #00435F
$secondary-color: #FF5100
$gray: #d1d3d5
$background-color: #f6f6f6

// General
body
  font-family: "Open Sans"
  font-size: 14px

h2
  padding-bottom: 20px

// Navigation
.navbar
  background-color: $background-color
  border: none
  border-radius: 0

  span.icon-bar
    background-color: #000

.callout-img
  text-align: center
  padding: 40px
  display: block
  width: 100%

// Buttons and Links
.btn
  border-radius: 4px
  padding: 20px 30px
  color: $secondary-color
.btn:hover
  opacity: 0.8
.btn-primary
  background-color: #fff
  border-color: $secondary-color
.btn-primary:hover
  background-color: $secondary-color
  color: #fff
  border-color: $secondary-color
a
  color: $primary-color
.btn-full
  width: 100%
.remove_fields
  background-color: $secondary-color
  color: #ffffff
  position: absolute
  margin-right: -35px
  padding: 10px
  right: 0
  border-radius: 4px
.account-field
  position: relative
.secondary-color
  color: $secondary-color
// Utility Classes
.alternative-font
  font-family: "Shadows Into Light", cursive
  font-size: 1.6em
  color: $primary-color
.btn-active
  background-color: $secondary-color
  color: white
.section-highlight
  background-color: $primary-color
  color: white
  text-align: center

.bg-custom
  background: image-url('/img/bg-3.jpg') no-repeat center center fixed
  background-size: cover
  text-align: center
  color: #ffffff

.wrapper-lg
  padding: 8em 0
.wrapper-md
  padding: 5em 0
.wrapper-sm
  padding: 2em 0

.padding-lg
  padding: 3em
.padding-md
  padding: 2em
.padding-sm
  padding: 1em


.card-container
  border: 1px solid $gray
.bg-highlight
  background-color: #f6f6f6
  padding: 20px 0

.navbar
  margin-bottom: 0px
  background-color: $primary_color
  color: white
.navbar
  a
    color: white
.navbar-brand
  a
    font-size: smaller
    padding: 0px 10px