#footer
  .container
    .row
      .col-md-4.col-sm-4
        %p.text-left © 2014 Salesmatchr. All rights reserved.
      .col-md-4.col-sm-4
        .text-right
          / %h2 Contact at
          / %span phone // (703) 224-8088
          / %span fax // (703) 224-8089
          / %span email // team@jobmatchr.co
          = link_to '#' do
            = image_tag 'facebook-48.png'
          = link_to '#' do
            = image_tag 'twitter-48.png'