#footer
  .container
    .row
      .col-md-4.col-sm-4
        %p.text-left © 2014 Travelist
      .col-md-4.col-sm-4
        .text-right
          = link_to '#' do
            = image_tag 'facebook-48.png'
          = link_to '#' do
            = image_tag 'twitter-48.png'