#footer
  .container
    .row
      .col-md-6
        %p.text-left © 2014 Salesmatchr. All rights reserved.
      .col-md-6
        .text-right
          / %h2 Contact at
          / %span phone // (703) 224-8088
          / %span fax // (703) 224-8089
          / %span email // team@jobmatchr.co
          = link_to 'https://www.facebook.com/salesmatchr' do
            = image_tag 'facebook-48.png'
          = link_to 'https://twitter.com/salesmatchr' do
            = image_tag 'twitter-48.png'